body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #444;
  margin-bottom: 1000px;
  font-size: 12px;
  font-weight: 500; }

.red {
  color: #e24545; }

.blue {
  color: #0897c5; }

.orange {
  color: #ff750b; }

i.fas {
  font-family: 'FontAwesome';
  font-style: normal; }

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-top: 67px;
  margin-bottom: 40px;
  color: #777; }

.headings, .underlines, .lists, .quotes, .form {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 55px;
  margin-top: 3px; }

/* ----------------- Top panel --------------------- */
.topPanel {
  height: 40px;
  line-height: 20px;
  width: 100%;
  color: #fff;
  background: #222;
  padding: 10px 0; }
  .topPanel-item {
    float: left;
    padding: 0 20px;
    text-align: center;
    font-size: 11px;
    border-left: 1px solid #444; }
    .topPanel-item:last-child {
      border-right: 1px solid #444; }
    .topPanel-item span {
      padding: 0 7px; }
    .topPanel-item img {
      vertical-align: text-top; }
  @media (max-width: 768px) {
    .topPanel .floatRight {
      display: none; } }

/* -----------------  Navbar  --------------------- */
nav.navbar.navbar-light {
  padding: 32px 0;
  background: #fff; }
  nav.navbar.navbar-light .navbar-nav {
    margin-right: 45px; }
  nav.navbar.navbar-light .mini-cart {
    border: 2px solid #444;
    width: 140px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: url("../img/mini-cart.gif") no-repeat 15px center;
    font-size: 15px;
    font-weight: bold;
    padding-left: 14px;
    position: relative; }
    nav.navbar.navbar-light .mini-cart #num-items {
      width: 30px;
      height: 30px;
      background: #444;
      border-radius: 50%;
      color: #fff;
      position: absolute;
      right: -15px;
      top: 5px;
      font-size: 11px;
      font-weight: normal;
      text-align: center;
      line-height: 20px;
      border: 5px solid #fff; }
  nav.navbar.navbar-light .nav-item.active a {
    color: #e24545; }
  nav.navbar.navbar-light .nav-item.active a::first-letter {
    border-bottom: 2px solid #e24545;
    padding-bottom: 4px; }
  nav.navbar.navbar-light .nav-item.last {
    margin-left: 4px; }
  nav.navbar.navbar-light .nav-link {
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    font-size: 13px; }
    nav.navbar.navbar-light .nav-link .fa-angle-down {
      margin-left: 4px; }

.headings .row * {
  align-self: center !important; }

.headings .col-red {
  color: #e24545;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center; }

.headings h1 {
  margin: 22px 0;
  display: inline-block; }

.headings .col-md-5:first-child h1 {
  font-weight: bold; }

.headings .col-bold h1 {
  font-weight: bold; }

.headings h2 {
  margin: 22px 0;
  display: inline-block; }

.headings .col-md-5:first-child h2 {
  font-weight: bold; }

.headings .col-bold h2 {
  font-weight: bold; }

.headings h3 {
  margin: 22px 0;
  display: inline-block; }

.headings .col-md-5:first-child h3 {
  font-weight: bold; }

.headings .col-bold h3 {
  font-weight: bold; }

.headings h4 {
  margin: 22px 0;
  display: inline-block; }

.headings .col-md-5:first-child h4 {
  font-weight: bold; }

.headings .col-bold h4 {
  font-weight: bold; }

.headings h5 {
  margin: 22px 0;
  display: inline-block; }

.headings .col-md-5:first-child h5 {
  font-weight: bold; }

.headings .col-bold h5 {
  font-weight: bold; }

.headings h6 {
  margin: 22px 0;
  display: inline-block; }

.headings .col-md-5:first-child h6 {
  font-weight: bold; }

.headings .col-bold h6 {
  font-weight: bold; }

.underlines {
  padding-top: 75px; }
  .underlines h3 {
    color: #222;
    text-transform: uppercase;
    font-weight: bold; }
  .underlines .redLine {
    width: 30px;
    height: 4px;
    background: #e24545;
    margin-bottom: 40px; }
  .underlines p {
    line-height: 23px; }
  .underlines .col-md-6 p {
    line-height: 32px; }
  .underlines .hightligt-red {
    background: #e24545;
    color: #fff; }
  .underlines .hightligt-gray {
    background: #444;
    color: #fff; }
  .underlines .hightligt-dotted {
    border: 1px dotted #777; }
  .underlines span[class^="hightligt-"] {
    padding: 5px;
    margin: 0 5px; }

.tooltip-up {
  min-width: 10em;
  padding: .5em .75em;
  box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.1);
  color: #fff; }
  .tooltip-up.red {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-bottom: 0.8em;
    background-color: #e24545;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0.5em);
    transition: visibility 0s linear 0.2, opacity 0.2 ease-in 0s, transform 0.2 ease-in 0s; }
    .tooltip-up.red::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 0.5em solid #e24545;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      margin-left: -0.5em; }
  .tooltip-up.gray {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-bottom: 0.8em;
    background-color: #444;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0.5em);
    transition: visibility 0s linear 0.2, opacity 0.2 ease-in 0s, transform 0.2 ease-in 0s; }
    .tooltip-up.gray::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 0.5em solid #444;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      margin-left: -0.5em; }

.has-tooltip {
  font-weight: bold;
  position: relative;
  cursor: pointer; }
  .has-tooltip:hover .tooltip-up, .has-tooltip:focus .tooltip-up {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
    transition: visibility 0s linear 0s, opacity .3s ease-out 0s, transform .3s ease-out 0s; }

.lists ul, .lists ol {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  line-height: 28px; }

.lists ul li:before {
  font-family: 'FontAwesome';
  width: 30px;
  font-size: 14px;
  display: inline-block; }

.lists ul.checkMark li:before {
  content: "\f00c"; }

.lists ul.checkMark li:nth-child(4):before {
  content: "\f00d";
  color: #e24545; }

.lists ul.angleRight li:before {
  content: "\f105";
  font-size: 17px;
  color: #e24545;
  font-weight: bold; }

.lists ul.checkSquare li:before {
  content: "\f14a";
  color: #e24545;
  font-size: 17px; }

.lists ul.checkSquare li:nth-child(4):before {
  content: "\f00d";
  color: #fff;
  padding: 0px;
  vertical-align: middle;
  background: #e24545;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  border-radius: 3px;
  width: 15px;
  margin-right: 15px;
  height: 15px;
  line-height: 14px; }

.lists ul.heart li:before {
  content: "\f08a";
  color: #e24545; }

.lists ul.longArrow li:before {
  content: "\f178";
  color: #e24545; }

.lists ul.checkCircle li:before {
  content: "\f05d";
  font-size: 16px; }

.lists ul.circle li:before {
  content: "\f111";
  font-size: 9px; }

.lists ol {
  counter-reset: item; }
  .lists ol li {
    display: block; }
  .lists ol li:before {
    width: 30px;
    counter-increment: item;
    font-size: 14px;
    display: inline-block; }
  .lists ol.redNumbers li:before {
    content: counter(item) ". ";
    color: red; }
  .lists ol.circles li:before {
    content: counter(item);
    color: #fff;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: #444;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px; }

.lists .bigLetterRed {
  width: 60px;
  height: 60px;
  background: #e24545;
  color: #fff;
  font-size: 45px;
  text-align: center;
  border-radius: 50%;
  float: left;
  font-weight: bold;
  line-height: 60px;
  margin-right: 15px;
  margin-top: 5px; }

.lists .bigLetterGray {
  width: 42px;
  height: 42px;
  background: #444;
  color: #fff;
  font-size: 32px;
  text-align: center;
  border-radius: 0;
  float: left;
  font-weight: bold;
  line-height: 42px;
  margin-right: 15px;
  margin-top: 5px; }

.lists p.first {
  margin-bottom: 22px; }

.quotes blockquote {
  display: flex;
  font-size: 30px;
  line-height: 1.3; }
  .quotes blockquote p {
    display: block; }
  .quotes blockquote.quoteRed div {
    padding-left: 30px; }
    .quotes blockquote.quoteRed div p {
      color: #e24545; }
  .quotes blockquote.quote {
    border-left: 5px solid #e24545; }
    .quotes blockquote.quote div {
      padding-left: 57px; }
  .quotes blockquote .fa-quote-left {
    display: block;
    float: left;
    font-size: 33px; }
  .quotes blockquote .quoteBy {
    font-weight: bold;
    font-size: 12px;
    padding-top: 3px;
    display: block; }

.form input, .form textarea {
  border-radius: 0; }

.form button {
  width: 100%;
  background: transparent;
  border: 2px solid #e24545; }
