h1, h2, h3, h4, h5, h6 {
  margin-bottom: 55px; }

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #444; }

i.fas {
  font-family: 'FontAwesome';
  font-style: normal; }

header {
  margin-bottom: 80px; }

/* ----------------- Top panel --------------------- */
.top-panel {
  height: 40px;
  line-height: 20px;
  width: 100%;
  color: #fff;
  background: #222;
  padding: 10px 0; }
  .top-panel-item {
    float: left;
    padding: 0 20px;
    text-align: center;
    font-size: 11px;
    border-left: 1px solid #444; }
    .top-panel-item:last-child {
      border-right: 1px solid #444; }
    .top-panel-item span {
      padding: 0 7px; }
    .top-panel-item i {
      font-size: 12px; }
    .top-panel-item img {
      vertical-align: text-top; }
  @media (max-width: 768px) {
    .top-panel .float-right {
      display: none; } }

/* -----------------  Navbar  --------------------- */
nav.navbar.navbar-light {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  background: #fff; }
  nav.navbar.navbar-light .navbar-nav {
    margin-right: 45px; }
  nav.navbar.navbar-light .mini-cart {
    border: 2px solid #444;
    width: 140px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: url("../img/mini-cart.gif") no-repeat 15px center;
    font-size: 15px;
    font-weight: bold;
    padding-left: 14px;
    position: relative; }
    nav.navbar.navbar-light .mini-cart #num-items {
      width: 30px;
      height: 30px;
      background: #444;
      border-radius: 50%;
      color: #fff;
      position: absolute;
      right: -15px;
      top: 5px;
      font-size: 11px;
      font-weight: normal;
      text-align: center;
      line-height: 20px;
      border: 5px solid #fff; }
  nav.navbar.navbar-light .nav-item.active a {
    color: #e24545; }
  nav.navbar.navbar-light .nav-item.active a::first-letter {
    border-bottom: 2px solid #e24545;
    padding-bottom: 4px; }
  nav.navbar.navbar-light .nav-item.last {
    margin-left: 4px; }
  nav.navbar.navbar-light .nav-link {
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    font-size: 13px; }
    nav.navbar.navbar-light .nav-link .fa-angle-down {
      font-size: 12px;
      margin-left: 4px; }

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300; }

.headings {
  font-weight: bold;
  margin-top: 50px;
  color: #222; }

.bold h1 {
  font-weight: bold; }

.bold h2 {
  font-weight: bold; }

.bold h3 {
  font-weight: bold; }

.bold h4 {
  font-weight: bold; }

.bold h5 {
  font-weight: bold; }

.bold h6 {
  font-weight: bold; }

.red-row div {
  margin-top: 50px;
  color: #e24545;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 64px; }

.border-bottom {
  border-bottom: 1px solid #444;
  padding-bottom: 35px; }
