.headings {
    @extend %section;
    .row * {
        align-self: center !important;
    }
    .col-red {
        color: $red-color;
        font-size: 15px;
        font-family: $font-sans;
        font-weight: bold;
        text-align: center;
    }
}
@for $i from 1 through 6 {
    h#{$i} {
        margin: 22px 0;
        display: inline-block;
        word-break: break-all;
    }
    h#{$i}.bold {
        font-weight: bold;
    }
}