/* ----------------- Top panel --------------------- */
.topPanel {
    height: 40px;
    line-height: 20px;
    width: 100%;
    color: $white-color;
    background: #222;
    padding: 10px 0;
    .topPanelItem {
        float: left;
        padding: 0 20px;
        text-align: center;
        font-size: 11px;
        border-left: 1px solid $gray-color;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        &.currency {
            width: 87px;
        }
        &.profile {
            width: 150px;
        }
        &.lang {
            width: 110px;
        }
        &:last-child {
            border-right: 1px solid $gray-color;
        }
        a.menuLinks, span.value {
            padding: 0 6px;
        }
        img {
            vertical-align: text-top;
            padding-right: 7px;
        }
    }
    .floatRight {

        @include sm {
            display: none;
        }
    }
}

/* -----------------  Navbar  --------------------- */
nav.navbar.navbar-light {
    padding: 32px 0;
    background: $white-color;
    .container {
        position: relative;
    }
    .navbar-nav {
        margin-right: 45px;
    }
    .navbar-toggler {
        margin-left: auto;
    }
    .mini-cart {
        border: 2px solid $gray-color;
        width: 140px;
        height: 42px;
        line-height: 42px;
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        padding-left: 15px;
        position: relative;
        svg {
            vertical-align: text-bottom;
            margin-right: 4px;
        }
        .num-items {
            width: 30px;
            height: 30px;
            background: $gray-color;
            border-radius: 50%;
            color: $white-color;
            position: absolute;
            right: -15px;
            top: 5px;
            font-size: 11px;
            font-weight: normal;
            text-align: center;
            line-height: 20px;
            border: 5px solid $white-color;
        }

        @include md() {
            position: absolute;
            margin-left: 300px;
            left: 0;
            top: 0;
        }

        @include sm() {
            margin-left: 200px;
        }
    }
    .nav-item {
        &.active {
            a {
                color: $red-color;
            }
            a::first-letter {
                border-bottom: 2px solid $red-color;
                padding-bottom: 4px;
            }
        }
        &.last {
            margin-left: 4px;
        }
    }

    .nav-link {
        font-weight: bold;
        color: $gray-color;
        text-transform: uppercase;
        font-size: 13px;
        .fa-angle-down {
            margin-left: 4px;
        }
    }
    .dropdown-menu {
        border-radius: 0;
        width: 120px;

        .dropdown-item {
            font-size: 12px;
            font-family: $font-stack;
            padding: 3px 10px;
            &:hover {
                color: $gray-color;
                border: 0;
            }
            &:focus {
                background: 0;
                border: 0;
            }
        }
    }
}

.logo {
    width: 63px;
    height: 25px;
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    color: #222;
    &:after {
        background: $red-color;
        content: '';
        width: 9px;
        height: 2px;
        display: block;
        position: absolute;
        margin-top: -8px;
        margin-left: -1px;
    }
}

.logo::first-letter {
    color: #e24545;
}

.littleLogo {
    width: 63px;
    height: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 9.4px;
    text-align: right;
    color: #444;
    margin-top: 9px;
    margin-left: 1px;
}

.topPanelItem .dropDownMenu {
    display: none;
    position: absolute;
    background: #222;
    width: 100%;
    margin-left: -20px;
    z-index: 3;
    margin-top: 9px;
    text-transform: uppercase;
    div, a {
        color: #fff;
        display: block;
        padding: 3px 0;
        &:hover {
            background: #fff;
            color: #000;
        }
    }
}

.lang .dropDownMenu {
    div {
        text-align: left;
        padding-left: 27px;
    }
}
