.section1 {
  border-bottom: 1px solid $light-gray-color;
  padding-bottom: 35px;
  .headings {
    font-weight: bold;
    margin-top: 10px;
    color: #222;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      margin-bottom: 55px;
    }
    .bold h#{$i} {
      font-weight: bold;
    }
  }

  .red-row div {
    margin-top: 50px;
    color: $red-color;
    font-size: 15px;
    font-family: $font-sans;
    font-weight: bold;
    margin-top: 64px;
    @include md {
      display: none
    }
  }

}