
/* ----------------- Top panel --------------------- */
.top-panel {
  height: 40px;
  line-height: 20px;
  width: 100%;
  color: #fff;
  background: #222;
  padding: 10px 0;
  &-item {
    float: left;
    padding: 0 20px;
    text-align: center;
    font-size: 11px;
    border-left: 1px solid $gray-color;
    &:last-child {
      border-right: 1px solid $gray-color;
    }
    span {
      padding: 0 7px;
    }
    i {
      font-size: 12px;
    }
    img {
      vertical-align: text-top
    }
  }
  .float-right {
    @include ms {
      display: none
    }
  }
}