$bg-color: #fff;
$gray-color: #444;
$light-gray-color: #eee;
$red-color: #e24545;
$font-stack: 'Montserrat', sans-serif;
$font-sans: 'Open Sans', sans-serif;
$screen-sm-max: 768px;
$screen-md-max: 1200px;
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

body {
  background: $bg-color;
  font-family: $font-stack;
  color: $gray-color;
  margin-bottom: 1000px;
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
}

.red {
  color: $red-color
}

.blue {
  color: #0897c5
}

.orange {
  color: #ff750b
}

i.fas {
  font-family: 'FontAwesome';
  font-style: normal;
}

.title {
  font-family: $font-sans;
  font-size: 30px;
  font-weight: 300;
  margin-top: 55px;
  margin-bottom: 40px;
}

.section {
  border-top: 1px solid $light-gray-color;
  border-bottom: 1px solid $light-gray-color;
  padding-bottom: 55px;
  margin-top: 3px;
}

@import "header";
@import "section1";
@import "section2";
.section3 {
  ul, ol {
    margin: 0 0 40px 0;
    padding: 0 0 0 0;
    list-style: none;
    line-height: 28px;

  }
  ul li:before {
    font-family: 'FontAwesome';
    width: 10px;
    height: 10px;
    margin-right: 20px;
    font-size: 14px;

  }
  ol li:before {
    color: red;

  }
  ul.checkmark {
    li:before {
      content: "\f00c";
    }
    li:nth-child(4):before{
      content: "\f00d";
      color: $red-color;
    }
  }
  ul.angle-right li:before {
    content: "\f105";
    font-size: 17px;
    color: $red-color;
    font-weight: bold;
  }
  ul.check-square li:before {
    content: "\f14a";
  }
  ul.heart li:before {
    content: "\f08a";
  }
  ul.long-arrow li:before {
    content: "\f178";
    color: $red-color;
  }
  ul.check-circle li:before {
    content: "\f05d";
    font-size: 16px;
  }

}




